<div >
  <%= render"/header/activityheader"%>
 <%= render "/feature/saveproduct"%>

  <div id="phones" class="min-w-full  ">
   
    <%= render partial: 'productcard/phonecard', collection: @phones, as: :phone%>
  </div>


<%=render "/footer/footer" %>