<div class="  ml-8 mx-auto md:w-2/3 lg:w-full mt-2 mb-8 m  sticky top-0 bg-white">Phone Deals
<p class="font-bold text-2xl ml-8 mx-auto md:w-2/3 lg:w-full mt-2 mb-8 m">Phone Deals</p>


<div>state . lgc . neighborhood . km .  your location</div>
</div>