<div class="mt-0  py-4 flex justify-between lg:px-20  px-4 bg-transparent  ">

<div > 
 <%= link_to phones_path do %>
 <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="white" class="w-6 h-6 stroke-primary ">
  <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
</svg>
 <%end%>
</div>


  <h1 class="font-semibold  "> Mobile Phone</h1>

<div>

<%= link_to  "clear", phones_path, class:"font-bold text-iconbg drop-shadow text-md hover:shadow-lg bg-primary rounded-md px-4 py-2"%>

</div>


</div>